pre {
	display: block;
	padding: 15px;
	font-size: 120%;
	margin-left: 0;
	margin-right: 0;
}
body {
	line-height: 140%;
	margin: 0;
}



.content {
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
}
.top-bar {
	background: lightgray;
	border-bottom: 2px solid black;
}

.top-bar a {
	color: black;
	font-size: 120%;
	background: lightgray;
	border: 0 solid #3e3;
	padding: 20px 30px;
	transition: all 0.3s;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}


.top-bar a:hover {
	background: black;
	color: lightgray;
}
.top-bar a {
	color: black;
}
.top-bar a:hover:visited {
	color: lightgray;
}
.top-bar a:visited {
	color: black;
}

h1 {
	text-align: center;
	color: black;
	font-weight: bold;
}
h2 {
	text-align: center;
	color: black;
	font-weight: normal;
}

.plaintext-print {
	background-color: #000;
	border: 0 solid #888;
	display: block;
	font-size: 120%;
	text-align: center;
	color: #F1F2F3;
	font-family: monospace;
	height: 100px;
	margin: 15px 0 0;
	padding: 15px 15px 0;
}

inline {
	background-color: lightgray;
	padding: 3px;
	font-family: monospace;
	font-size: 16px;
}


a {
	text-decoration: underline;
	color: black;
	transition: color 0.3s;
}

a:hover {
	color: #027375;
}


a:visited:not(:hover) {
	color: black;
}







